

<div class="home-banner jumbotron p-3 p-md-5 text-white rounded bg-dark">
      <h1 class="display-4 font-italic"><span class="banner-gigg">Gigg.</span> <span class="banner-tag-line"> The Music Festival app</span></h1>
</div>

<div class="row mb-3">

    <div class="col-md-8">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Recent events</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a [routerLink]="['/events/create']" class="btn btn-primary">Create event</a>
            </div>
        </div>
    </div>


    <div class="col-md-4">
        <div class="card">

            <div class="card-body">
                <h5 class="card-title">Search events</h5>
                <p class="card-text">As a natural lead-in to additional content.</p>
                <a routerLink="/search" class="btn btn-primary">Search event</a>
            </div>
        </div>
    </div>


</div>


<app-event-list [eventsToShow]="3"></app-event-list>

<div class="row mb-3">

    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Recent stories</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a [routerLink]="['/events/create']" class="btn btn-primary">View stories</a>
            </div>
        </div>
    </div>
</div>


<app-story-list [storiesToShow]="3"></app-story-list>

