
<div class="row">
  <div class="col-md-12">

    <div class="home-card card text-center mb-3">

      <div class="card-body">
        <h1 class="gigg-heading display-4 font-italic">Gigg</h1>
        <span class="card-text lighter">The music festival app. This took many many hours to make.</span>
        <ul class="home-list">
          <li class="home-list-item"><a href="">events</a></li> <span class="separator"> &middot; </span>
          <li class="home-list-item"><a href="">stories</a></li> <span class="separator"> &middot; </span>
          <li class="home-list-item"><a href="">search</a></li>
        </ul>
      </div>
      <small class="card-footer text-muted lighter">Created by <a href="#">Zain Baig</a> view source code on <a href="https://github.com/zain-b/Gigg">GitHub</a></small>
    </div>
  </div>
</div>

<div class="row">

    <div class="col-md-8 mb-3">
        <div class="navigator-card card">
            <div class="card-body">
                <h5 class="card-title">Recent events</h5>
                <p class="card-text lighter">Just a few of the many events being hosted on Gigg!</p>
                <a [routerLink]="['/events/create']" class="btn btn-primary lighter">Create event</a>
            </div>
        </div>
    </div>


    <div class="col-md-4 mb-3">
        <div class="navigator-card card">

            <div class="card-body">
                <h5 class="card-title">Search events</h5>
                <p class="card-text lighter">You can do this offline too!</p>
                <a routerLink="/search" class="btn btn-primary lighter">Search events</a>
            </div>
        </div>
    </div>


</div>


<app-event-list [eventsToShow]="3"></app-event-list>

<div class="row mt-3 mb-3">

    <div class="col-md-12">
        <div class="navigator-card card">
            <div class="card-body">
                <h5 class="card-title">Recent stories</h5>
                <p class="card-text lighter">Take a look at some of the stories that have recently been posted!</p>
                <a [routerLink]="['/events/create']" class="btn btn-primary">View all stories</a>
            </div>
        </div>
    </div>
</div>


<app-story-list [storiesToShow]="6"></app-story-list>

