.navbar-brand {
    font-weight: bold;
    font-size: 27px;
}

.logged-in-username {
    text-decoration: underline;
}

.logged-in-username {
    font-weight: bold;
    color:#fff;
}

.logged-in-logout {
    color:#fff;
}

.status-header {
  text-align: center;
  width: 100%;
  color: #fff;
  padding: 8px;
}

.offline {
  background: red;
}

.online {
  background: #594fe9;
}

.clients-connected {
  font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
  font-weight: lighter;
  color: #fff;
  font-size: 11px;
  margin-right: 15px;
  margin-bottom: 5px;
  margin-top: 5px;
  display: inline;
}

.clients-connected .badge-secondary {
  color: #fff;
  background-color: #ff05a7;
  position: relative;
  font-size: 11px;
}

.messages {
  position: fixed;
  left: 0;
  right: 0;
  top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: fit-content; /* Need a specific value to work */
  text-align: center;
  z-index: 300000;
  color: white;
  font-weight: bold;
  border-radius: 3px;
  padding: 6px;
}

.success {
  background: #00c5bc;
}

.error {
  background: #ff3a3afa;
}
