.navbar-brand {
    font-weight: bold;
    font-size: 27px;
}

.logged-in-username {
    text-decoration: underline;
}

.logged-in-username {
    font-weight: bold;
    color:#fff;
}

.logged-in-logout {
    color:#fff;
}
