<div class="row">
  <div class="col-md-10 mx-auto">

    <div class="event-details-card card text-center mb-3">


      <div class="card-body">
        <h5 class="card-title">Login to Gigg</h5>
        <p class="card-text lighter">You'll need your email address and password. Want to <a routerLink="/register">register?</a>
        </p>
      </div>

    </div>
  </div>
  <div class="col-md-10 mx-auto">

    <div class="card">
      <div class="card-body">
        <form class="lighter" #loginForm="ngForm" (ngSubmit)="onSubmit()">
          <fieldset [disabled]="!(connected | async)">
            <div class="form-group">
              <label for="loginEmail">Email address</label>
              <input type="email" [(ngModel)]="user.email" name="email" class="form-control" id="loginEmail"
                     aria-describedby="emailHelp" placeholder="Enter email">
              <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
              <label for="loginPassword">Password</label>
              <input type="password" [(ngModel)]="user.password" name="password" class="form-control" id="loginPassword"
                     aria-describedby="passwordHelp" placeholder="Password">
              <small id="passwordHelp" class="form-text text-muted">Keep this safe!</small>
            </div>
            <button type="submit" [disabled]="loading" class="btn btn-primary">
              <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
              Login
            </button>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>

