
<div class="event-details-card card text-center mb-3">
  <div class="card-body">
    <h5 class="card-title">Add a story!</h5>
    <ng-container *ngIf="(user$ | async) then loggedIn else notLoggedIn"></ng-container>
    <ng-template #notLoggedIn>
      <p class="card-text lighter">Oops. You must be logged in to post a story! Want to <a routerLink="/register">register?</a></p>
      <a [routerLink]="['/login']" class="btn btn-primary">Log in</a>
    </ng-template>

    <ng-template #loggedIn>
      <p class="card-text lighter">Add a <abbr title="Too Long Didn't Read">TLDR</abbr>, a description and select your photo's
        from the event. Want to see <a routerLink="/stories">other stories?</a></p>
    </ng-template>


  </div>

</div>

<div class="card mb-4">
  <div class="card-body">
    <form #storyCreateForm="ngForm" (ngSubmit)="onSubmit()">
      <fieldset [disabled]="!(connected$ | async) || !(user$ | async)">
      <div class="form-group">
        <input type="text" [(ngModel)]="story.tldr" name="tldr" class="form-control"
               placeholder="Enter a TLDR for your story">

      </div>
      <div class="form-group">
        <textarea [(ngModel)]="story.text" name="text" class="form-control" rows="3"
                  placeholder="Describe your amazing story"></textarea>
      </div>

      <div class="photo-upload form-group form-control">
        <label class="control-label">Photo(s)</label>
        <input (change)="filesAdded($event)" required type="file" class="photo-upload-input" multiple>
      </div>
      <button type="submit" [disabled]="loading" class="btn btn-primary">
        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
        Add story
      </button>
      </fieldset>
    </form>
  </div>
</div>

<!-- Single story -->
<ng-container *ngFor="let story of event.stories">
  <app-story [story]="story"></app-story>
</ng-container>


